---
permalink: /page-sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
          http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

  <!-- Home -->
  <url>
    <loc>https://floriano.des.br/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>

  <!-- Projetos (listing) -->
  <url>
    <loc>https://floriano.des.br/projetos/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>

  <!-- Case: Quantum Vizz -->
  <url>
    <loc>https://floriano.des.br/projetos/quantum-vizz/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Case: 2P Web Dev -->
  <url>
    <loc>https://floriano.des.br/projetos/2p-web-dev/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Case: Bit System -->
  <url>
    <loc>https://floriano.des.br/projetos/bit-system/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Case: Farm Well Hub -->
  <url>
    <loc>https://floriano.des.br/projetos/farm-well-hub/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Case: Olho Vivo -->
  <url>
    <loc>https://floriano.des.br/projetos/olho-vivo/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Repertório: Design Gráfico -->
  <url>
    <loc>https://floriano.des.br/projetos/design-grafico/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- Reflexões (listing) -->
  <url>
    <loc>https://floriano.des.br/reflexoes/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <!-- Sobre Mim -->
  <url>
    <loc>https://floriano.des.br/sobre/</loc>
    <lastmod>2026-04-11T00:00:00+00:00</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.7</priority>
  </url>

</urlset>
