---
permalink: /robots.txt
eleventyExcludeFromCollections: true
eleventyExcludeFromSitemap: true
---
User-agent: *
Allow: /

User-agent: Googlebot
Allow: /

User-agent: Bingbot
Allow: /

User-agent: OAI-SearchBot
Allow: /

User-agent: GPTBot
Allow: /

User-agent: ChatGPT-User
Allow: /

Sitemap: {{ metadata.url }}/sitemap.xml
