{% set caseData = caseStudies[page.fileSlug] %}
{% if caseData %}
<section class="case-overview" aria-label="Informações principais do projeto">
  <div class="case-overview__inner">
    <dl class="case-overview__meta">
      <div>
        <dt>Serviços</dt>
        <dd>{{ caseData.service }}</dd>
      </div>
      <div>
        <dt>Stack</dt>
        <dd>{{ caseData.stack }}</dd>
      </div>
      <div>
        <dt>{{ caseData.timeLabel }}</dt>
        <dd>{{ caseData.time }}</dd>
      </div>
    </dl>

    <figure class="case-overview__cover" data-case-cover>
      <img
        src="{{ caseData.cover }}"
        srcset="{{ caseData.coverSmall }} 768w, {{ caseData.cover }} 1448w"
        sizes="(max-width: 800px) calc(100vw - 32px), 1180px"
        alt="{{ caseData.coverAlt }}"
        width="1448"
        height="1086"
        loading="eager"
        fetchpriority="high"
      >
    </figure>
  </div>
</section>
{% endif %}
