<div class="site-preloader" data-site-preloader aria-hidden="true">
  <div class="site-preloader__words" aria-hidden="true">
    <span class="is-active" data-preloader-word>Entender</span>
    <span data-preloader-word>Estruturar</span>
    <span data-preloader-word>Construir</span>
  </div>
  <svg class="site-preloader__shape" viewBox="0 0 100 112" preserveAspectRatio="none" aria-hidden="true">
    <path d="M0 0H100V94C82 109 64 104 48 99C30 93 15 104 0 112V0Z"></path>
  </svg>
</div>
